#mainSpace,
#mainSpaceMore {
	height: 65%;
	display: flex;
	flex-direction: column;
	background-color: #080808af;
	border-radius: 6px;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 1vw;
}

#mainSpace {
	width: 33%;
	align-items: center;
	justify-content: space-between;
}

#mainSpaceMore {
	width: 65%;
	margin-left: 30%;
}

.illustration {
	z-index: 255;
	height: 20vh;
	width: 20vh;
	animation: enter 0.5s ease-in-out;
}

.textSpace {
	height: 45vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	animation: enter 0.5s ease-in-out;
}

.textSpace p,
#mainSpaceMore p {
	color: #c0c0c0;
	font-family: Comfortaa-light;
	font-size: 1.2rem;
	margin: 1vh 0;
}

.separatorMore {
	height: 1px;
	width: 50%;
	background-color: #c0c0c0;
	margin: 5vh 0;
}

@keyframes enter {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@media only screen and (max-device-width: 768px) {
	#mainSpace img {
		top: 40vh;
	}

	#mainSpace .textSpace {
		position: absolute;
		height: 30%;
		width: 100%;

		top: 70vh;

		background-color: #080808af;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		animation: enter 0.5s ease-in-out;
	}

	#mainSpace .textSpace p {
		color: #c0c0c0;

		padding-right: 10vw;
		padding-left: 10vw;

		font-family: Comfortaa-light;
		font-size: 1.7rem;
	}

	#mainSpace #textSpaceLeft p {
		font-size: 1.7rem;
	}

	#mainSpace #textSpaceRight p {
		font-size: 1.7rem;
	}
}