#mainSpace,
#mainSpaceMore {
	height: 65%;
	display: flex;
	flex-direction: column;
	background-color: #080808af;
	border-radius: 6px;
	padding-top: 2vh;
	padding-bottom: 2vh;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

#mainSpace {
	width: 33%;
	align-items: center;
	justify-content: space-between;
	animation: enter 0.5s ease-in-out;
}

#mainSpaceMore {
	width: 65%;
	margin-left: 30%;
	padding-left: 2vw;
	padding-right: 1vw;
}

.illustration {
	z-index: 255;
	height: 20vh;
	width: 20vh;
	margin-top: 8vh;
}

.textSpace {
	height: 45vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 2vw;
	padding-right: 1vw;
}

.textSpace h1 {
	color: white;
}

.textSpace p,
#mainSpaceMore p {
	color: #c0c0c0;
	font-family: Comfortaa-light;
	font-size: 1.2rem;
	margin: 1vh 0;
}

.separatorMore {
	height: 1px;
	width: 50%;
	background-color: #c0c0c0;
	margin: 5vh 0;
}

@keyframes enter {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes exit {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}


@media only screen and (max-device-width: 768px) {
	#mainSpace, #mainSpaceMore {
		width: 45vw;
		position:  absolute;
		right: 10vw;
	}
	#mainSpace img {
		top: 40vh;
	}

	#mainSpace .textSpace {

		background-color: #080808af;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#mainSpace .textSpace p,
	#mainSpaceMore p {
		color: #c0c0c0;

		padding-right: 2vw;
		padding-left: 2vw;

		font-family: Comfortaa-light;
		font-size: 1.5rem;
	}

	#mainSpace #textSpaceLeft p {
		font-size: 1.7rem;
	}

	#mainSpace #textSpaceRight p {
		font-size: 1.7rem;
	}
}