#pageArea {
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	z-index: 2;
	position: absolute;
	background-color: #00000000;
	display: none;
}

#tutoRestart {
	display: flex;
	z-index: 10;
	position: absolute;
	width: 100%;
	background-color: #000000af;
	justify-content: space-between;
	align-items: center;
}

#tutoRestart p {
	color: white;
	padding: 0.5rem;
	font-family: monospace;
	font-size: 1rem;
	cursor: pointer;
	margin-right: 10vw;
}

@media only screen and (max-device-width: 768px) {
	#tutoRestart {
		left: 75vw;
	}
	#tutoRestart p {
		font-size: 1.8rem;
	}
}